/* # Colors: Background: #1d3557 Box1: #457b9d Box2: #a8dadc PrimaryText: #f1faee AlertText: #e63946*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("images/background_img-small.jpg") no-repeat top center fixed;
  background-size: cover;
}

.page-container {
  width: 400px;
  margin: auto;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3rem 0.5rem;
  position: relative;
}

/* #Will use JS to turn on this class. */
.background-off {
  background: none;
  box-shadow: none;
  border: none;
  backdrop-filter: none;
}

.page-title {
  font-size: 26px;
  color: #f1faee;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-subtitle {
  font-size: 18px;
  font-style: italic;
  color: #f1faee;
  text-align: center;
}

.calc-box {
  background-color: #171b1b8a;
  width: 90%;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 10px;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #f1faee;
}

form {
  line-height: 36px;
}

input {
  display: block;
  flex: 1 1 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding-left: 1rem;
}

label {
  display: block;
  background-color: rgba(218, 165, 32, 0.753);
  flex: 1 1 0;
  padding-left: 0.75rem;
  color: #f1faee;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button {
  display: block;
  width: 150px;
  background-color: #e63946;
  font-size: 24px;
  color: #f1faee;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  transition: 0.2s ease-out;
}

button:hover {
  background-color: #f88b0fd2;
  transition: 0.2s ease;
  cursor: pointer;
}

.revenue {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.expenses {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.oh-rate {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.result-container {
  margin: 0;
  padding: 1rem;
  /* background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  position: absolute;
  width: 400px;
  top: 0%;
  left: 0%;
  border-radius: 15px;
}

.result-box {
  flex: 1 1 0;
  height: 35px;
  color: #f1faee;
  font-weight: 800;
  padding-left: 1rem;
  padding-top: 0.5rem;
  border: 1px solid black;
  background-color: #5365709a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.calc-box-result {
  background-color: #171b1b8a;
  width: 100%;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 10px;
}

.gross-profit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.gross-profit label {
  padding-top: 0.5rem;
}

.gross-margin {
  display: flex;
  margin-bottom: 1rem;
}
.gross-margin label {
  padding-top: 0.5rem;
}

.oh-expense {
  display: flex;
  margin-bottom: 1rem;
}
.oh-expense label {
  padding-top: 0.5rem;
}

.net-profit {
  display: flex;
  margin-bottom: 1rem;
}
.net-profit label {
  padding-top: 0.5rem;
}

.net-margin {
  display: flex;
}
.net-margin label {
  padding-top: 0.5rem;
}

.payout-box {
  background-color: #a32647c5;
  width: 100%;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 10px;
}

.sales-commission {
  display: flex;
  margin-bottom: 1rem;
}

.sales-commission label {
  padding-top: 0.5rem;
  background-color: #685cd1d3;
}

.pm-fee {
  display: flex;
}
.pm-fee label {
  padding-top: 0.5rem;
  background-color: #685cd1d3;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hidden {
    display: block;
  }

  body {
    background: url("images/background_img-small.jpg") no-repeat top center
      fixed;
    background-size: cover;
  }

  .page-title {
    font-size: 40px;
  }

  .page-container {
    display: flex;
    width: 80%;
    /* min-width: 1007px; */
    justify-content: space-around;
    align-items: flex-start;
    gap: 10%;
  }

  .financial-entry {
    margin: 0;
    padding: 0;
    flex: 0 1 50%;
  }
  .result-container {
    position: static;
    margin: 0;
    padding: 0;
    flex: 0 1 50%;
    /* width: 100%; */
  }
}
